{% extends 'base.html.twig' %}

{% block title %}New Documenttype{% endblock %}

{% block body %}




    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>Add Document</h3>
                            </div>
                            <div class="content">
                                {{ include('documenttype/_form.html.twig') }}

                                <a class="btn btn-border-fill btn-block mt-2" href="{{ path('account') }}">back to account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
{#
    <script>
        window.onload = ()=>
        {
            //On va chercher la catégorie
            let categorie = document.querySelector("#documenttype_categorydonnees");
            //On détecte le changement de catégorie
            categorie.addEventListener("change", function(){
                let form = this.closest("form");
                let data = this.name + "=" + this.value;
                fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: data,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded; charset:utf-8"

                    }
                })
                .then(response => response.text())
                .then(html => {
                    let content = document.createElement("html");
                    content.innerHTML = html;
                    let newSelect = content.querySelector("#documenttype_donneesType");
                    document.querySelector("#documenttype_donneesType").replaceWith(newSelect);

                })

            });
        }
    </script>
    #}
{% endblock %}
