{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}
{% block body %}
    <h1>Les Rapports</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'documenttype/_filter.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="grid">
                    {% for documenttype in documents  %}
                        {% include 'documenttype/_document.html.twig' %}
                    {% endfor %}
                    <div class="d-flex justify-content-center">
                        {% do documents.setPageRange(2) %}
                        {{ knp_pagination_render(documents, 'pagination/pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- START THE FEATURETTES -->


{%  endblock%}