

{#

{% extends 'base.html.twig' %}

{% block title %}Hello AproposController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Application_Symfony/ProjetWeb/src/Controller/AproposController.php'|file_link(0) }}">src/Controller/AproposController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Application_Symfony/ProjetWeb/templates/apropos/index.html.twig'|file_link(0) }}">templates/apropos/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
#}


{% extends 'base.html.twig' %}

{% block title %}Hello AproposController!{% endblock %}

{% block body %}
    <p>
        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
        Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum,
        et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
    </p>

    {#
   <section  style="background-image: url(/public/assets/img/imgTours.jpg)">
       <div class="container">
           <div class="row">r bb bn
               <div class="col-12 col-md-7">
                   <blockquote class="blockquote mb-0">
                       <p class="h2 text-white">
                           Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                           Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum,
                           et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                       </p>
                       {#
                       <footer class="blockquote-footer text-white-50 mb-0">
                           {{ user.partners }}
                       </footer>

                   </blockquote>

               </div>

           </div>
       </div>

   </section>
    #}
{% endblock %}