{% extends 'base.html.twig' %}

{% block title %}Evénements{% endblock %}
{% block body %}
    <h1>Les Séminaires</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'news/_filtre.html.twig' %}
            </div>
        </div>


        <div class="container mt-4">
            <div class="row">
                {% if news | length > 0 %}
                <div><h3>Résultat de votre recherche</h3></div>
                {% for new in news %}
                    {% include 'news/_doc_new.html.twig' %}

                {% endfor %}
                <div class="d-flex justify-content-center">
                    {% do news.setPageRange(2) %}
                    {{ knp_pagination_render(news, 'pagination/pagination.html.twig') }}
                </div>

                <a href="{{ path('show_seminaire') }}">Revenir sur la liste des séminaires</a>
            </div>
        </div>
        {% else %}
            <h1>Aucun résultat pour votre recherche</h1>
            <a href="{{ path('show_seminaire') }}">Revenir sur la liste des séminaires</a>
        {% endif %}
    </div>
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

{%  endblock%}