{% extends 'base.html.twig' %}

{% block title %}Réunions{% endblock %}
{% block body %}
    <div class="title-article">
        <h3>Filtre</h3>
    <h3 class="count">Les Réunions</h3>
    </div>


    <div class="container-article">
        <div class="row-filter">
            {% include 'news/_filtre.html.twig' %}
        </div>
        <div class="row-content">
            {% if news | length > 0 %}
            {#  <div><h3>Résultat de votre recherche</h3></div> #}
            <div class="col">
                <div class="grid">
                    {% for new in news %}
                        {% include 'news/_doc_new.html.twig' %}
                        {#  <div class="img-fluid">
            <img width="80px" src="/uploads/{{ new.picture }}" alt="{{ new.title }}"/>
        </div>
                        #}


                    {% endfor %}
                    <div class="d-flex justify-content-center">
                        {% do news.setPageRange(2) %}
                        {{ knp_pagination_render(news, 'pagination/pagination.html.twig') }}
                    </div>

                </div>
            </div>

        </div>
        {% else %}
            <h4>Aucun résultat pour votre recherche</h4>
            <a href="{{ path('show_reunion') }}">Revenir sur la liste des reunions</a>
        {% endif %}
    </div>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

{%  endblock%}