{% extends 'base.html.twig' %}

{% block title %}Réunions{% endblock %}
{% block body %}
    <h1>Les Réunions</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'news/_filtre.html.twig' %}
            </div>
        </div>


        <div class="container mt-4">
            <div class="row">
                {% for reunion in reunions %}
                    <div class="col-md-4">
                        <h5 class="mt-0">Titre: {{reunion.title }}</h5>
                        <p >Résumé : {{ reunion.resume }}</p>

                        <p>{{ reunion.startCreatedAt ? reunion.startCreatedAt|date('Y-m-d') : '' }} - {{ reunion.endCreatedAt ? reunion.endCreatedAt|date('Y-m-d') : '' }} </p>


                    </div >

                {% endfor %}
            </div>
        </div>
    </div>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

{%  endblock%}